* { box-sizing: border-box; }

body {
	margin: 0;
	padding: 0;
	display: flex;
 
	height: 100vh;
	font-family: 'Poppins', sans-serif;
 
}
#modalLoginAvatar{
	background-color: #81C784;
}
.modal{
	justify-content: center;
	align-items: center;
}
.modal-header {
 
	display: flex;
	justify-content: center ;
	align-items: center;
  }
  
 
.rounded-circle {
	min-width: 120px;
	min-height: 120px;
 margin-left: 27%;
	background-color: #81C784;
}


 











@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

 
 
.container1 {
 padding: 0 !important;
 margin: 0 !important;
	border-radius: 40px  0px 0px  0px ;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
 
	justify-content: right ;
	align-items: right;
  }
  

.title {
	padding-bottom: 20px;
  margin: 0;
}

.subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
}

.header {
	
	border-radius: 40px  0px 0px  0px ;
  background-color: #3e57db;
  color: #fff;
  padding: 30px 20px;
}

.header input {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
}

.header input:focus {
  outline: none;
}

.user-list {
  background-color: #8f8f8f;
  list-style-type: none;
  margin: 0;
  padding: 0;
 

 
  max-height: 600px;
  overflow-y: auto;
}

.user-list li {
  display: flex;
  padding: 20px;
  
}

.user-list img {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.user-list .user-info {
  margin-left: 10px;
}

.user-list .user-info h4 {
  margin: 0 0 10px;
}

.user-list .user-info p {
  font-size: 12px;
}

.user-list li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.user-list li.hide {
  display: none;
}
